@import url('link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"');

html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
}


* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
   
}

body {
  background-color: #3F3141;
  margin: 0;
  font-family: 'Raleway', sans-serif;;
  text-align: center;
}

.container {
  width: 85%;
  max-width: 60em;
  margin: 0 auto;
}

/* Typography */
h1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 2.75;
}

.title {
  font-size: 2.5rem;
  margin-bottom:1.5em;
  font-weight: 900;
  margin-top: 1em;
}

.title span {
  font-weight: 300;
  display: block;
  font-size: .9em;
}

.title-cta {
  margin: 0 0 .5em;
}
@media (min-width:60rem) {
 p {
    font-size: 1.2rem;
     line-height: 1.6;
  }

  .title {
    font-size: 3.7rem;
  }
}


.button {
  display: inline-block;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: lowercase;
  border-width: 2px;
  border-radius:12px;
  border-style:solid;
  padding: .5em 1.75em;
  color: #9D8398;
  border-color: #F1DCDB;
}

@media (min-width: 60rem){
  .button{
     font-size:1.5rem; 
  }
}
.button:hover,
.button:focus{
    background: #F1DCDB;
    color: #5e3939;
}

/* header */
header {
  
  position: absolute; 
  left: 0;
  right: 0;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  padding: .4em;
  text-transform: lowercase;
  color: #DDD;
  font-size: 1rem;
}

nav  a:hover,
nav a:focus{
  color: #FFF;
}

@media(min-width:60rem) {
  nav{
    float: right;
  }
}

/*about*/
.about-textbox {
  background-color: #3F3141;
  outline: 2px solid #D3B9B8;
  outline-offset: 0.2em;
  color:  #FFF;  /*TEXT*/
}
    


@media (min-width: 25rem) {
  h1{
    font-size: 2rem;
  }

  .about-textbox{
    padding: 5.5em;
  }

  .about-textbox h1{
    top:.6em;
    padding: 0 .325em; 
  }
}
@media (min-width: 60rem){
  .about{
      height: 100vh;
      padding-top: 35vh;
    }
}
     
@media (min-width: 60rem) {
    h1{
      font-size: 2.5rem;
    }
    .about-textbox h1{
      color: #9D8398;
      background: #232323;
    }
    .about{
      background-repeat: no-repeat;
      
      /* background-image: url(png/background.png);*/
      background-size: cover;
      background-position: center;
      padding: 14em 0; 
      color: #FFF;
    }
    .about-textbox{
      outline-offset: -3.75em;
      text-align: left;
   }
}
.cta {
    background-color: #3F3141;
    vertical-align: bottom;
    margin-top: 250px;
}
#backtotop{
    text-align: center;
    background-color: #D3B9B8;
    font-weight: 900;
    text-decoration: none;
    padding: 1em;
    text-transform: lowercase;
    color: #FFF;
    font-size: .8rem;
}

/* login details */
.details {
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
   .button {
        display: inline-block;
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
        margin: 0 0 8px 0;
        color:#FFF;
    }
    p {
        font-size: 18px;
    }
    .about {
        padding: 65px 0 1px 0;
        
    } 
    .about-textbox {
        width: 100%;
        text-align: center;
    }
    .about-textbox h1{
         color: #9D8398;
         background: #232323;
    }
    nav {
        float: right;
    }
     
    nav li {
        display: inline-block;
        margin: 5px 1px;
    }
    cta {
      padding: 85em;
    }
} 

